// <Boilerplate>
@import 'nib'

global-reset()

// Adapted from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
// </Boilerplate>

p-text-color = #454545
p-light-text-color = #999

background-navy = #0F2A42

accent-orange = #F58156
accent-blue = #2D82CC
accent-pink = #E359A6
accent-green = #3AB050
accent-yellow = #EFC554

@font-face
    font-family 'Cambo'
    font-style normal
    font-weight 400
    src local('Cambo'), local('Cambo-Regular'), url(http://themes.googleusercontent.com/static/fonts/cambo/v3/svHugj7NIrTQRq-kuQ9YEKCWcynf_cDxXwCLxiixG1c.woff) format('woff')

body
    background-color background-navy
    font-family 'Cambo', serif
    color p-text-color
    height 100%

#screen
    width 100%
    height 100%
    position fixed

#board
    font-size 36px
    position absolute
    margin 0.25em

#drawPile
#wastePile
    margin-bottom 1em
    margin-right 0.25em
    float left

#tableau
    clear both

.column
    float left
    margin-right 0.25em

.stack
    position relative

.coverBottom
    margin-bottom -3em

.card
    user-select none
    cursor pointer
    width 2.5em
    height 3.5em
    position relative
    transform-style preserve-3d
    figure
        text-align center
        font-weight bold
        position absolute
        display block
        width 100%
        height 100%
        padding 0.25em
        margin 0
        backface-visibility hidden
        border-radius 0.25em
    .front
        background-color white
    .back
        color accent-orange
        background-color accent-orange
        border 0.2em solid white
        transform rotateY(180deg)
    .slot
        background none
        border 0.1em dashed p-light-text-color

.flipped
    transform rotateY(180deg)

.active
    transform scale(1.3)
    box-shadow 0.35em 0.35em black