// <Boilerplate>
@import 'nib'

//global-reset()

// Adapted from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// *, *:before, *:after
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
// </Boilerplate>

p-text-color = #454545
p-light-text-color = #999

background-navy = #0F2A42

accent-orange = #F58156
accent-blue = #2D82CC
accent-pink = #E359A6
accent-green = #3AB050
accent-yellow = #EFC554

@font-face
    font-family 'Cambo'
    font-style normal
    font-weight 400
    src local('Cambo'), local('Cambo-Regular'), url(http://themes.googleusercontent.com/static/fonts/cambo/v3/svHugj7NIrTQRq-kuQ9YEKCWcynf_cDxXwCLxiixG1c.woff) format('woff')

body
    background-color background-navy
    font-family 'Cambo', serif
    color p-text-color
    font-size 16px
    line-height 1.8em

h1
    font-size 1.8em
    line-height 1.3em

h2
    font-size 1.6em
    line-height 1.1em
    color p-light-text-color

.board
    perspective 800px
    width 200px
    height 280px
    position relative

.card
    cursor pointer
    // width 5em
    // height 7.5em
    width 100%
    height 100%
    // margin 1em
    // padding 0.5em
    position absolute
    transform-style preserve-3d
    transition transform 0.5s
    figure
        text-align center
        font-weight bold
        font-size 100px
        line-height 260px
        color accent-orange
        position absolute
        display block
        width 100%
        height 100%
        margin 0
        backface-visibility hidden
    .front
        background-color white
    .back
        background-color accent-orange
        transform rotateY(180deg)
.flipped
    transform rotateY(180deg)

.active
    transform scale(1.1)
    box-shadow 0.35em 0.35em black