// <Boilerplate>
@import 'nib'

global-reset()

// Adapted from http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
// </Boilerplate>

p-text-color = #454545
p-light-text-color = #999

background-navy = #0F2A42

accent-orange = #F58156
accent-blue = #2D82CC
accent-pink = #E359A6
accent-green = #3AB050
accent-yellow = #EFC554

@font-face
    font-family 'Cambo'
    font-style normal
    font-weight 400
    src local('Cambo'), local('Cambo-Regular'), url(http://themes.googleusercontent.com/static/fonts/cambo/v3/svHugj7NIrTQRq-kuQ9YEKCWcynf_cDxXwCLxiixG1c.woff) format('woff')

body
    background-color background-navy
    font-family 'Cambo', serif
    color p-text-color
    height 100%

// transform-style is not inherited by children. To maintain z space throughtout
// all elements on screen, give each the preserve-3d style.
#screen
#board
#drawPile
#wastePile
#foundation
#tableau
    transform-style preserve-3d

#screen
    width 100%
    height 100%
    position fixed
    perspective 400px

#board
    font-size 36px
    width 7 * 2.5em + 7 * 0.25em
    position absolute
    margin 0.25em
    transform rotateX(5deg) translateZ(-1em)

#drawPile
#wastePile
    margin-bottom 1em
    margin-right 0.25em
    float left

#foundation
    margin-bottom 1em
    margin-right 0.25em
    .card
        float right
        margin-left 0.25em
        .slot
            cursor default

#tableau
    clear both

#hand
    pointer-events none
    position absolute
    top 0
    left 0

.column
    float left
    margin-right 0.25em

.stack
    position relative

.coverBottom
    margin-bottom -3em

.card
    outline 1px solid transparent
    user-select none
    cursor pointer
    width 2.5em
    height 3.5em
    position relative
    transform-style preserve-3d
    figure
        text-align center
        font-weight bold
        position absolute
        display block
        width 100%
        height 100%
        padding 0.25em
        margin 0
        backface-visibility hidden
        border-radius 0.25em
    .face
        background-color white
    .back
        color accent-orange
        background-color accent-orange
        border 0.2em solid white
        transform rotateY(180deg)
    .slot
        background none
        border 0.1em dashed p-light-text-color

.flipped
    transform rotateY(180deg)
